/* You can add global styles to this file, and also import other style files */

.table td, .table th {
  vertical-align: unset !important;
}

.form-btn-wrapper {
  float: right;
  margin: 8px 0;
}

.icon {
  font-size: 16px;
}