<a routerLink="/todos"><i class="icon ion-md-arrow-back"></i> back to todo list</a>

<h3 class="mt-3">Update Todo</h3>

<div class="card" style="width: 442px;">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input [(ngModel)]="todo.title" class="form-control" id="title" name="title" required type="text">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea [(ngModel)]="todo.description" class="form-control" cols="50" id="description"
                    name="description" rows="4" type="text">
                </textarea>
            </div>
            <button class="btn btn-success float-right" type="submit">Save</button>
        </form>
    </div>
</div>
<!--<ng-template #updateTodoModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Update Todo</h5>
        <button (click)="close()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="todo-title">Title</label>
                <input [(ngModel)]="todo.title" class="form-control" id="todo-title" name="todo-title" required
                    type="text">
            </div>

            <div class="form-group">
                <label for="todo-description">Description</label>
                <textarea [(ngModel)]="todo.description" class="form-control" cols="50" id="todo-description"
                    name="todo-description" required rows="4" type="text">
                </textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer form-btn-wrapper">
        <button (click)="close()" class="btn btn-secondary mr-2" type="button">Close</button>
        <button (click)="onSubmit(todo._id)" class="btn btn-success" type="submit">Save</button>
    </div>

</ng-template>

<button (click)="open(updateTodoModal)" class="btn btn-primary">update Todo</button>-->