<div class="container">
    <h3>Create Todo</h3>
    <div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="job-title">Job Title</label>
                <input type="text" class="form-control" id="job-title" required [(ngModel)]="todo.jobTitle"
                       name="job-title">
            </div>

            <div class="form-group">
                <label for="job-description">Job Description</label>
                <input type="text" class="form-control" id="job-description" required [(ngModel)]="todo.jobDescription"
                       name="job-description">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
    </div>
</div>