<div class="container">
    <table datatable [dtOptions]="dtOptions" class="table table-striped">
        <thead>
        <tr>
            <th style="text-align: center;">Select</th>
            <th>ID</th>
            <th>Job Title</th>
            <th>Job Description</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of (todos | async)">
                <!--<tr *ngFor="let todo of (todos | async)?.data">-->
                <td style="text-align: center;"><input type="checkbox"></td>
                <td>{{ todo._id }}</td>
                <td>{{ todo.jobTitle }}</td>
                <td>{{ todo.jobDescription }}</td>
                <td>{{ todo.created }}</td>
                <td>
                    <div class="action-btn-wrapper">
                        <button (click)="deleteTodo(todo._id)" class="btn btn-sm btn-danger">
                            <i class="icon ion-md-trash"></i>
                        </button>
                        <button (click)="updateTodo(todo._id)" class="btn btn-sm btn-info ml-2">
                            <i class="icon ion-md-create"></i>
                        </button>
                        <button (click)="todoDetails(todo._id)" class="btn btn-sm btn-info ml-2">
                            <i class="icon ion-md-eye"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--*ngIf="todoService.getTodosList()"-->